.navBar{
    display: flex;
    height:3rem;
    width: 100vw;
    box-shadow: 0 4px 4px -2px rgba(226, 204, 204, 0.5);
}

.searchBar{
    height: 60%;
    margin-top: 5px;
    width: 20rem;
    position: relative;
    right: -41rem;  
}

.searchButton{
    position: relative;
    top: 11px;
    right: -39rem;
}

.signup-button{
    height: 70%;
    margin-top: 5px;
    width: 4rem;
    position: relative;
    right: -42rem;
    background: #bf44d8;
    border-radius: 15px;
    border:1px solid;    
}